<header id="top-header">
    <a href="/" title="Return to home page">
        <img src="../images/site/harvester.svg">
    </a>
    <span class="siteName">
        <strong data-i18n="header.siteName"><%= t('header.siteName') %></strong>
            <div data-i18n="header.tagline"><%= t('header.tagline') %></div>
    </span>
    <div id="tools">
        <a href="/account/login" title="click to login" data-i18n="header.dashboard"><%= t('header.dashboard') %></a>
    </div>
</header>