<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | SHICS</title>
    <link rel="stylesheet" href="/css/small.css" />
    <link rel="stylesheet" href="/css/medium.css" />
    <link rel="stylesheet" href="/css/large.css" />
    <link rel="stylesheet" href="/css/admission-small.css"/>
    <link rel="stylesheet" href="/css/admission-medium.css"/>
    <link rel="stylesheet" href="/css/admissions.css"/>
    <link rel="stylesheet" href="/css/guardians.css">
    <link rel="stylesheet" href="/css/guardians-medium.css">
    <link rel="stylesheet" href="/css/guardians-large.css">
    <link rel="stylesheet" href="/css/secondary-small.css">
    <link rel="stylesheet" href="/css/secondary-medium.css">
    <link rel="stylesheet" href="/css/secondary.css">
    <link rel="stylesheet" href="/css/about-small.css">
    <link rel="stylesheet" href="/css/about-medium.css">
    <link rel="stylesheet" href="/css/about-large.css">
    <link rel="stylesheet" href="/css/language.css" />
    <link rel="stylesheet" href="/css/language-large.css" />
    <link rel="stylesheet" href="/css/contact-small.css">
    <link rel="stylesheet" href="/css/contact-medium.css">
    <link rel="stylesheet" href="/css/contact-large.css">
    <link rel="stylesheet" href="/css/prep.css">
    <link rel="stylesheet" href="/css/prep-medium.css">
    <link rel="stylesheet" href="/css/prep-large.css">
    <link rel="stylesheet" href="/css/pre-prep.css">
    <link rel="stylesheet" href="/css/pre-prep-large.css">
    <link rel="stylesheet" href="/css/pre-prep-medium.css">
    <link rel="stylesheet" href="/css/creche.css">
    <link rel="stylesheet" href="/css/creche-medium.css">
    <link rel="stylesheet" href="/css/creche-large.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/home-medium.css">
    <link rel="stylesheet" href="/css/home-large.css">
    <link rel="stylesheet" href="/css/nursery.css">
    <link rel="stylesheet" href="/css/nursery-medium.css">
    <link rel="stylesheet" href="/css/nursery-large.css">
    <link rel="stylesheet" href="/css/pre-nursery.css">
    <link rel="stylesheet" href="/css/pre-nursery-medium.css">
    <link rel="stylesheet" href="/css/pre-nursery-large.css">
    <link rel="stylesheet" href="/css/primary.css">
    <link rel="stylesheet" href="/css/primary-medium.css">
    <link rel="stylesheet" href="/css/primary-large.css">
    <link rel="stylesheet" href="/css/secondary-large.css">
    <link rel="stylesheet" href="/css/student-profile.css">
    <link rel="stylesheet" href="/css/student-profile-medium.css">
    <link rel="stylesheet" href="/css/student-profile-large.css">
    <link rel="stylesheet" href="/css/admission-large.css">

    <!-- Scripts -->
    <script>window.SERVER_I18N = true;</script>
    <script src="/js/navigation.js" defer></script>
    <script src="/js/script.js" defer></script>
    <script src="/js/dialogbox.js" defer></script>
    <script src="/js/language.js" defer></script>
    <script src="/js/admission.js" defer></script>
    <script src="/js/contact.js" defer></script>
    <script src="/js/prep.js" defer></script>
    <script src="/js/guardians.js" defer></script>
    <script src="/js/primary.js" defer></script>
    <script src="/js/secondary.js" defer></script>
    <script src="/js/nursery.js" defer></script>
    <script src="/js/creche.js" defer></script>
    <script src="/js/pre-nursery.js" defer></script>
    <script src="/js/account.js" defer></script>

    <!------------------META TAGS FOR SOCIAL MEDIA-------------->
    <!--Open Graph-->
    <meta property="og:title" content="Sacred Harvasters Internation School Home Page">
    <meta property="og:description" content="Welcome to the Sacred Arvasters International School Home Page. Explore our academic programs, extracurricular activities, and community events. Join us in fostering a nurturing mind environment and cultivating excellence for holistic education and personal growth.">
    <meta property="og:image" content="images/shics_favicon.svg">
    <meta property="og:url" content="/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Sacred Harvasters International School">

    <!--------------FAVICON LINK-------------->
    <link rel="icon" href="images/site/harvester.svg" type="image/x-icon" alt="Favicon">

</head>