/* AUTO-COMMENT: File Overview - public/css/about-medium.css | Purpose: Stylesheet: presentation and layout rules. */
@media only screen and (min-width: 38rem) {
    /*************Second Screen Section ***********/
  .second-screen-about {
     display: grid;
    grid-template-columns: 1fr 1fr;
  
      & figure {
          margin-left: 4px;

          & img {
            width: 18rem;
            height: 18rem;
          }
  
          & figcaption {
            font-size: 1.5rem;
          }
      }
  }
}
