/* AUTO-COMMENT: File Overview - public/css/primary.css | Purpose: Stylesheet: presentation and layout rules. */
@media only screen and (min-width: 3rem) {
  .toggle-primary {

    &::before {
      content: "Primary \2193";
      font-size: 1.5rem;
      color: #800000;
      background-color: #f8a725;
      width: auto;
      max-width: 100%;
      height: 2.5rem;
      margin-left: 0;
      margin-top: 1rem;
      padding: 0.5rem;
      cursor: pointer;
    }
  
    &.show::before {
      content: "Primary \2191";
      font-size: 1.5rem;
      color: #800000;
      background-color: #f8a725;
      width: 100%;
      height: 2.5rem;
      text-align: center;
      margin-top: 1rem;
      padding: 0.5rem;
    }
  }

  .contact-us-primary {
  background-color: #800000;
  color: #fff;
  width: 100%;
  margin-top: 20px;
  margin-left: 0;
  border-radius: 0.8rem;

  & h2 {
    color: #fff;
    text-align: center;
    padding-top: 10px;
  }

  & p {
    text-align: center;
    padding-bottom: 10px;
  }
  
}
}