@media only screen and (min-width: 64rem) {
  
/***** Parents & Guardians page *****/
.parents-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 80vh;
  font-family: Arial, sans-serif;

  }
  
}