   <section class="hero-section hero">
        <img class="hero-img" src="images/people/shics-pupils.webp" alt="Sacred Harvesters Int'l School Hero Image" loading="lazy">
        <img class="hero-img" src="images/people/shics-pupils.webp" alt="Sacred Harvesters Int'l School Hero Image" loading="lazy">
        <img class="hero-img" src="images/people/shics-sportware-hero3.webp" alt="Sacred Harvesters Int'l School Hero Image" loading="lazy">
        <img class="hero-img" src="images/people/shics-preprep-hero2.webp" alt="Sacred Harvesters Int'l School Hero Image" loading="lazy">
        <span class="hero-text"><div><strong>Welcome to Sacred Harvesters Int'L</strong></div>
        <div>__ Christian School __</div>
        <div class="hero-div3">Empowering Education with Faith & Excellence</div>
        <h3 class="hero-signup" id="goDashboardBtn" aria-label="Go to dashboard">Go to dashboard ></h3>
    </section>

        <!----------- Screen Section--------------->
        <section class="screen-grid">
            <aside class="screen-container">
                <!------- First Screen ------->
                <h2 class="toggle-about-us"></h2>
                <aside class="first-screen">
                  <p>HEADMASTER'S WELCOME</p>
                  <p>SCHOOL GUILD</p>
                  <p>HISTORY & HERITAGE</p>
                  <p>VISION & VALUE</p>
                  <p>GALLERY</p>
                  <p>FEES</p>
                  <p>STAFF</p>
                  <p>RECENT ANNOUNCEMENT</p>
                  <p>CRECHE KIDS ENROLLMENT</p>
                  <p>UPCOMING EVENTS</p>
                  <p>MIDTERM EXAM SCHEDULE</p>
                  <P>SCHOOL FIELD TRIP TO THE MUSEUM</P>
                  <P>CLASSES</P>
                  <p><a href="/admission">ADMISSION</a></p>
                  <p><a href="/prep">EXPLORE OUR PREP</a></p>
                  <p><a href="/pre-prep">EXPLORE OUR PRE-PREP</a></p>
                  <p><a href="/nursery">EXPLORE OUR NURSERY</a></p>
                  <p><a href="/secondary">EXPLORE OUR SECONDARY</a></p>
                </aside>
                <aside class="contact-us">
                    <h2>Contact Us</h2>
                    <p>Sacred Harvester Int'l Christian School, ogbe-umuokuni, Ogwashi-uku</p>
                    <p>sacredharvesters@gmail.com</p>
                    <p>+2347055839781</p>
                </aside>
            </aside>
            <aside class="screen-container second-screen-container">
                 <!------- Second Screen ------->
                 <figure>
                    <img src="images/people/propraitress.webp">
                    <figcaption>Headmaster's Welcome</figcaption>
                 </figure>

                 <figure>
                    <img src="images/people/school-guild.webp">
                    <figcaption>School Guild</figcaption>
                 </figure>

                 <figure>
                    <img src="images/people/vision-value.webp">
                    <figcaption>Vision & Value</figcaption>
                 </figure>

                 <figure>
                    <img src="images/people/shics-history-heritage.webp">
                    <figcaption>HISTORY & HERITAGE</figcaption>
                 </figure>

                 <figure>
                    <img src="images/people/propraitress.webp">
                    <figcaption>FEES</figcaption>
                 </figure>

                 <figure>
                    <img src="images/people/shics-pupils.webp">
                    <figcaption>CLASSES</figcaption>
                 </figure>

                 <figure>
                    <img src="images/people/propraitress.webp">
                    <figcaption>ADMISSION</figcaption>
                 </figure>

                 <figure>
                    <img src="images/people/propraitress.webp">
                    <figcaption>MIDTERM EXAM SCHEDULE</figcaption>
                 </figure>

                 <figure>
                    <img src="images/people/propraitress.webp">
                    <figcaption>Gallery</figcaption>
                 </figure>

                
            </aside>
             <!------- Third Screen ------->
            <aside class="screen-container third-screen-container">
                <aside class="third-screen stagger">
                    <img src="images/people/potriate-1.webp" alt="HeadMaster" loading="lazy">
                    <img src="images/people/potriate-2.webp" alt="HeadMaster" loading="lazy">
                    <img src="images/people/potriate-3.webp" alt="HeadMaster" loading="lazy">
                    <img src="images/people/potriate-4.webp" alt="HeadMaster" loading="lazy">
                </aside>
                <aside class="third-screen">
                    <img src="images/people/propraitress.webp" alt="HeadMaster" loading="lazy">
                </aside>
            </aside>
        </section>