<%- include("partials/header") %>
<%- include("partials/navigation") %>

<main>
  <h1>Home</h1>
  <p>Welcome to Sacred Harvesters International Christian School.</p>
</main>

<%- include("partials/footer") %>